#titulo{
    color: tomato;
}

p.texto {
    color: slateblue;
}

p.especial{
    color: mediumseagreen
}

div p{
    color: aquamarine;
}

div h2, div h3{
    color: brown;
}

*{
    font-size: 24px;
   /* color: black; */
}

/*
.color{
    color:#ff0000;
}

.color{
    color:rgb(0,255,255)
}
*/
/* .color{
    border: 5px black solid;

    dotted
    dashed
    solid
    double
    groove
    ridge
    inset
    outset
    none
    hidden

} */

.color{
    border-style: solid;
    border-color: blue;
    border-radius: 20px;
    border-width: 5px;
}

#fondo{
    background-color:rgba(255,0,0,0.3);
    /*RGBA = permite generar una
    transparencia indicando los valores de color primero y luego los
    de niveles de transparencia. Ejemplo: (0,0,0,0.3)*/
    /*opacity: 0.3;*/
    height: 200px;
    background: red url(img/Gohan.jpg) repeat-y center bottom /100px 100px;
}

.margen{
    background-color:chocolate;
    border: black 2px solid;
    margin: 15px;
    padding: 30px 15px;
    height: 100px;
    width: 50px;
    overflow: scroll;
    outline: 1px solid blue;
}

.text{
    font-family: 'Roboto', sans-serif;
    text-align:center;
    text-decoration: overline;
    text-shadow:3px 5px 5px blue;
}

a:link{
    color: blueviolet;
}
a:visited{
    color:gray;
}
a:hover{
    color:yellow;
}
a:active{
    color:red;
}

ul{
    background-color: cyan;
    list-style-type: none;
    padding-left: 0;
    /* list-style-position: inside;*/
}

table{
    width: 100%;
    border-collapse:collapse;
}

th, td{
    border:solid 1px #eee;
    padding: 5px;
}

th{
    background-color:tomato;
    color:white;
    text-align:left;
}

tr:nth-child(even){
    background-color: #eee;
    cursor:pointer;
}

tr:hover{
    background-color: #aaa;
    cursor:pointer;
}

span{
    display:block;
}

.inline{
    display:inline;
}

.left{
    float:left;
    width:200px;
    height: 200px;
}

.right{
    float:right;

}

.column{
    margin:0px;
    padding: 10px 0;
    width: 33.3%;
}

.inline-block{
    display: inline-block;
    height: 55px;
    background-color: red;
}

.center{
    padding: 50px;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    background-color:aqua;
}
/*Esto es una prueba de comentario en CSS*/